body {
    background: $lgt-grey;
    color: $black;

    #header {
        margin: 1em 0;
        padding: 1em 0;
        text-align: center;

        .logo {
            margin: 0 auto;
            width: 350px;
        }
    }
}